In [16]:
import pandas as pd
import warnings
import numpy as np
import pandas as pd
import seaborn as sns;
sns.set()
warnings.filterwarnings('ignore')

dataset = pd.read_csv('analisis/data.csv',sep=',') 
dataset.dropna(subset=['tanggal','jumlah_transaksi'],inplace=True)

import datetime as dt
NOW = dt.datetime(2018,5,4)

dataset['tanggal'] = pd.to_datetime(dataset['tanggal'])
rfmTable = dataset.groupby('id_pelanggan').agg({'tanggal': lambda x: (NOW - x.max()).days, # Recency
                                        'id_transaksi': lambda x: len(x),      # Frequency
                                        'jumlah_transaksi': lambda x: x.sum()}) # Monetary Value

rfmTable['tanggal'] = rfmTable['tanggal'].astype(int)
rfmTable.rename(columns={'tanggal': 'recency', 
                         'id_transaksi': 'frequency', 
                         'jumlah_transaksi': 'monetary_value'}, inplace=True)

quantiles = rfmTable.quantile(q=[0.25,0.5,0.75]).to_dict()

rfmSegmentation = rfmTable

def RClass(x,p,d):
    if x <= d[p][0.25]:
        return 1
    elif x <= d[p][0.50]:
        return 2
    elif x <= d[p][0.75]: 
        return 3
    else:
        return 4
    
def FMClass(x,p,d):
    if x <= d[p][0.25]:
        return 4
    elif x <= d[p][0.50]:
        return 3
    elif x <= d[p][0.75]: 
        return 2
    else:
        return 1

rfmSegmentation['R_Quartile'] = rfmSegmentation['recency'].apply(RClass, args=('recency',quantiles,))
rfmSegmentation['F_Quartile'] = rfmSegmentation['frequency'].apply(FMClass, args=('frequency',quantiles,))
rfmSegmentation['M_Quartile'] = rfmSegmentation['monetary_value'].apply(FMClass, args=('monetary_value',quantiles,))
rfmSegmentation['RFMClass'] = rfmSegmentation.R_Quartile.map(str) \
                            + rfmSegmentation.F_Quartile.map(str) \
                            + rfmSegmentation.M_Quartile.map(str)
rfmSegmentation[rfmSegmentation['RFMClass']=='111'].sort_values('monetary_value', ascending=False)

rfmSegmentation.to_csv('analisis/rfm_result.csv',sep=',')



dataset=pd.read_csv('analisis/rfm_result.csv')

dataset = dataset.drop(['R_Quartile','F_Quartile','M_Quartile','RFMClass'], axis=1)

x=dataset.iloc[:,[1,2,3]].values

from sklearn.cluster import KMeans
#k=6
km6=KMeans(n_clusters=6,init='k-means++', max_iter=300, n_init=10, random_state=0)
y_means = km6.fit_predict(x)

tita = np.array(km6.labels_)

def f(n): 
    return n+1

tita = np.array(list(map(f, km6.labels_)))

ayu = np.reshape(tita, (-1, 1))

newArray = np.append(dataset, ayu, axis = 1)

data = newArray.astype(int)

resultData = pd.DataFrame({'ID Pelanggan': data[:, 0], 'Recency': data[:, 1], 'Frequency': data[:, 2], 'Monetary': data[:, 3], 'Cluster': data[:, 4]})

resultData

     ID Pelanggan  Recency  Frequency  Monetary  Cluster
0           10001     1522          1  32773758        2
1           10002      941          1   2739000        1
2           10003     1940          1   9868150        6
3           10004     1885          1   9420250        6
4           10005      787          4   4746000        6
5           10006     1915          1   2176500        1
6           10007     2643          1   2643000        1
7           10008     2340          1    950000        1
8           10009       89          7  76142450        3
9           10010      429          4   8922500        6
10          10011     1518          1    427500        1
11          10012     1882          1   5011750        6
12          10013     2405          1   1142250        1
13          10014      364          6  12425525        4
14          10015     1824          2   5620000        6
15          10016     2676          1   1224650        1
16          10017     1453          1    800000        1
17          10018      730          4  13054750        4
18          10019     1183          1    900000        1
19          10020      118          2   5842700        6
20          10021     1002          1   2614000        1
21          10022     1210          2  11296250        4
22          10023     1941          1   4281000        1
23          10024     1947          1   3125450        1
24          10026      854          1   3295450        1
25          10027      783          2   7685593        6
26          10028      697          1   1637000        1
27          10029     1858          2   9362625        6
28          10030     1949          1   7059450        6
29          10031     2127          1   3494200        1
..            ...      ...        ...       ...      ...
161         10165     1790          3  10445500        4
162         10166       57          1   1502000        1
163         10167       85          1   5459500        6
164         10168       87          1   2961950        1
165         10169       58          1   3350000        1
166         10170       86          2  14935000        4
167         10171      117          1   4940000        6
168         10172       29          1   6800000        6
169         10173       60          1   5870000        6
170         10174       88          4  20117750        4
171         10175      119          1   3113750        1
172         10176      120          1   2003250        1
173         10177       90          1   1455000        1
174         10178      121          1   1345250        1
175         10179      122          1   3070250        1
176         10180      123          1   1625000        1
177         10181      478          1   4199000        1
178         10182      483          1   6358000        6
179         10183      422          1   1104000        1
180         10184      481          1   5678000        6
181         10185      423          1  11742000        4
182         10186      451          1   1700000        1
183         10187      482          1   3455000        1
184         10188      303          1   5964750        6
185         10189      394          1   7352687        6
186         10190      395          1   1032920        1
187         10191      454          1   3785600        1
188         10192      722          1   4425000        6
189         10193      723          1   3466500        1
190         10194      815          1   3717800        1

[191 rows x 5 columns]

In [17]:
resultData.to_csv('analisis/cluster.csv',sep=',')